// .mind-map {
//     height: 300px;
// }
.position--bottom {
    position: absolute;
    bottom: -10px;
}
.border--dashed {
    border: 1px dashed #85acf1;
    padding: 5px;
    height: 68vh;
    width: 100%;
}
.wrapper {
    background-color: #181818;
    min-height: 100%
}
.toolbar {
    // background-color: #353536;
    --ion-color-base: #393839!important
}

.text-center {
    text-align: center
}

.ion-icon-color{
	color: red !important;
}