<ion-header>
    <ion-toolbar color="primary" class="toolbar">
        <ion-buttons>
            <ion-back-button defaultHref="/" slot="start">

            </ion-back-button>
            <ion-button (click)="showMindMap()" slot="start">
                <ion-icon name="browsers"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title slot="end">سورة  ({{suraInfo?.name}})   عدد الآيات ({{suraInfo?.numOfAya}})  -  {{suraInfo?.type}} - الجزء {{suraInfo?.numOfJuza}} - المستوى الأول</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="wrapper">
        <!-- <ion-card> -->
        <ion-grid>
            <ion-row>
                <ion-col size="12" class="text-center">
                    <img class="border--dashed" (click)="goTo(suraPage)" *ngIf="!showingImg"
                        src="assets/img/{{currentSura}}/{{suraPage}}.jpg">
                    <img class="mind-map border--dashed" *ngIf="showingImg" src="assets/img/{{currentSura}}/mindMap.jpg">
                </ion-col>
                <!-- <ion-col size="12">
                    <img src="assets/img/gif/1.gif" alt="gif" class="border--dashed">
                </ion-col> -->
                <ion-col class="ion-align-self-center position--bottom" size="12">
                    <ion-row class="align-items: center">
                        <ion-col>
                            <ion-button (click)="repeatSura()" *ngIf="!repeat">
                                <ion-icon name="repeat" class="ion-icon-color"></ion-icon>
                            </ion-button>
                            <ion-button (click)="repeatSura()" *ngIf="repeat">
                                <ion-icon name="repeat"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button (click)="prev()">
                                <ion-icon name="arrow-round-back"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button (click)="stop()">
                                <ion-icon name="square"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col *ngIf="!canPaused">
                            <ion-button (click)="play()">
                                <ion-icon name="play"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col *ngIf="canPaused">
                            <ion-button (click)="pause()">
                                <ion-icon name="pause"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button (click)="next()">
                                <ion-icon name="arrow-round-forward"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button (click)="goToThePreviousSura()">
                                <ion-icon name="skip-backward"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button (click)="goToTheNextSura()">
                                <ion-icon name="skip-forward"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- </ion-card> -->
    </div>
</ion-content>