
.toolbar-background {
    background-color: #bfaaaa;
    color: #131313;
}

.border--dashed {
    border: 1px dashed #85acf1;
    padding: 5px;
}
.wrapper {
    background-color: #181818;
    // height: 100%
}
.toolbar {
    // background-color: #353536;
    --ion-color-base: #393839!important
}