<ion-header>
    <ion-toolbar color="primary" class="toolbar">
        <ion-title>Quran المستوى الأول</ion-title>
        <!-- <ion-buttons slot="end">
            <button (click)="onShowOptions()">
                <ion-icon ios="ios-more" md="md-more"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="wrapper">
        <ion-grid>
                <ion-row>
                    <ion-img src="assets/img/index/general.gif"></ion-img>
                </ion-row>
            <!-- <ion-row> -->
                <!-- <ion-img src="assets/img/index/makeYourHomeQibla.jpg"></ion-img>
            </ion-row>
            <ion-row>
                <ion-img src="assets/img/index/level.jpg"></ion-img>
            </ion-row> -->
            <ion-row>
                <ion-col size="12" *ngFor="let sura of suraList">
                    <ion-card (click)="goToSura(sura.id)">
                        <img src="assets/img/index/{{sura.id}}.jpg" />
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>